<footer class="border-t border-gray-900 py-8">
    <div class="container flex justify-between">
        <nav>
            <ul class="flex gap-4">
                <li><a class="hover:opacity-75" href="">About Us</a></li>
                <li><a class="hover:opacity-75" href="">Contact</a></li>
                <li><a class="hover:opacity-75" href="">Terms of Sale</a></li>
                <li><a class="hover:opacity-75" href="">Privacy Policy</a></li>
            </ul>
        </nav>

        <div>&copy; Paízo | 2022 | All Rights Reserved</div>
    </div>
</footer>
